<div class="consent">
    <p>This websites uses Anonymized Analytics. Namely, it uses Google Analytics, set with the AnonymiseIP Flag to true, meaning that the last octet of your IP address won't be logged, making it anonymous. No other user identifiable pieces of data are captured. (No data sharing) You can still freely opt out of these anonymous analytics.</p>
    <div class="consent__buttons">
        <p class="button--accept">Accept default cookies</p>
        <p class="button--optout">or <span class="button--optout">Opt-out</span></p>
    </div>
</div>