.about__preface {
    display: flex;
    margin-top: 6rem;
    justify-content: space-between;
}

.preface__column {
    width: calc(var(--grid-column-unit) * 5 + var(--grid-gap) * 3);
}

.preface__column p {
    line-height: 1.45;
}