html {
    --viz-width: calc(var(--width) - var(--grid-column-unit) * 2 - var(--grid-gap) * 2);
}

.about__preface {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.preface__column p {
    line-height: 1.45;
}

.viz__stacked {
    display: none;
}
