html {
    --viz-width: calc(var(--width) - var(--grid-column-unit) * 2 - var(--grid-gap) * 2);
}

.about__preface {
    display: flex;
    margin-top: 6rem;
    justify-content: space-between;
}

.preface__column {
    width: calc(var(--grid-column-unit) * 5 + var(--grid-gap) * 3);
}

.preface__column p {
    line-height: 1.45;
}

.viz__stacked {
    width: var(--viz-width);
    margin-top: 2rem;
}

.stacked__header {
    display: flex;
}

.stacked__header p {
    font-size: 0.8rem;
    margin: 0 0 0.5rem;
}

.stacked__buttons {
    min-width: 200px;
}

.legend__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legend__container > p {
    position: relative;
    border-right: 1px solid var(--color-dark);
    padding-right: 10px;
    text-align: end;
}

.legend__container > p::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 6px;
    border-bottom: 1px solid var(--color-dark);
}

.legend__topics {
    width: calc((var(--viz-width) - 250px) / 10);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legend__topics p {
    margin-top: 0.5rem;
    // transform: rotate(30deg) translateX(50%);
}

.legend__square {
    width: 18px;
    height: 18px;
}

.stacked__topics {
    filter: grayscale(0);
    opacity: 1;
    transition: filter 0.5s, opacity 0.3s;
}

.stacked__topics.faded {
    filter: grayscale(0.8);
    opacity: 0.5;
}

.viz__matrix {
    --viz-columns: 6;
    --viz-width-unit: calc((var(--viz-width) - var(--grid-gap) * (var(--viz-columns) - 1)) / var(--viz-columns));
    display: grid;
    grid-template-columns: repeat(var(--viz-columns), var(--viz-width-unit));
    grid-gap: var(--grid-gap);
    grid-auto-rows: calc(var(--viz-width-unit) * 0.5);
}

.matrix__legend {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.matrix__columns {
    grid-column: 2 / -1;
    grid-row: 1 / span 1;
    display: flex;
    align-items: flex-end;
}

.matrix__columns p {
    width: calc(var(--viz-width-unit) - 4rem);
    text-align: center;
    font-size: 0.8rem;
    margin: 0 calc(var(--grid-gap) + 2rem) 0 2rem;
    border-bottom: 1px solid var(--color-dark);
}

.matrix__columns p:last-child {
    margin: 0 2rem;
}

.matrix__rows {
    grid-column: 1 / span 1;
    padding: calc(var(--viz-width-unit) * 0.22) 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.matrix__rows p {
    position: relative;
    font-size: 0.8rem;
    margin: 0;
    width: 50%;
    border-right: 1px solid var(--color-dark);
    padding: 0.5rem 10px 0.5rem 0;
    text-align: end;
}

.matrix__rows p::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 6px;
    border-bottom: 1px solid var(--color-dark);
}

.matrix__container {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(calc(var(--viz-columns) - 1), var(--viz-width-unit));
    grid-gap: var(--grid-gap);
    grid-auto-rows: calc(var(--viz-width-unit) * 0.5);
}

.matrix__pack {
    width: var(--viz-width-unit);
    height: calc(var(--viz-width-unit) * 0.5);
}
