header {
    --header-height: calc(100vh - 100vw * 0.02);
    --grid-row-unit: calc((var(--header-height) - var(--grid-gap) * 7) / 8);
    width: 100%;
    height: var(--header-height);
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), var(--grid-column-unit));
    grid-template-rows: repeat(8, var(--grid-row-unit));
    gap: var(--grid-gap);
    grid-gap: var(--grid-gap);
}

header h1 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 6;
    font-size: 7.2rem;
}

header p {
    grid-row: 5 / span 3;
    grid-column: 2 / span 6;
    position: relative;
    margin: 0;
    font-size: 2.2rem;
    font-style: italic;
}

header p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(var(--grid-column-unit) * 2);
    border-bottom: 2px solid var(--color-dark);
}