.media {
    width: calc(var(--grid-column-unit) * 5.5 + var(--grid-gap) * 5);
}

.media img,
.media video {
    width: 100%;
    object-fit: cover;
    margin-bottom: calc(var(--grid-gap) * 2);
}

.media__info {
    width: calc(var(--grid-column-unit) * 4 + var(--grid-gap) * 4);
}

.media p {
    margin: 0;
}

p.info__title {
    margin-top: 1.6rem;
}