.content {
    width: calc(var(--grid-column-unit) * 10 + var(--grid-gap) * 9);
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.content p{
    margin: 0;
}

.content__header h1 {
    margin: 0;
    font-size: 2.3rem;
    margin-bottom: 1.4rem;
}

.content__header h2 {
    font-size: 1.3rem;
    font-weight: 300;
}

.content__description {
    width: calc(var(--grid-column-unit) * 10 + var(--grid-gap) * 9);
    overflow-y: scroll;
}

.content__description p {
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1.45;
}

.content__description a {
    display: inline-block;
    margin-top: 0.8rem;
    color: var(--color-dark);
}

.content__metadata {
    width: calc(var(--grid-column-unit) * 10 + var(--grid-gap) * 9);
    position: relative;
    margin: 4rem 0 2rem;
}

.content__metadata::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--grid-column-unit) * 3);
    border-bottom: 2px solid var(--color-dark);
}

.content__metadata p:first-child {
    margin-top: 0.8rem;
}