html {
    --width: calc(100vw * 0.96);
    --grid-columns: 12;
    --grid-gap: 12px;
    --grid-column-unit: calc((var(--width) - var(--grid-gap) * (var(--grid-columns) - 1)) / 12);
    --viewport-height: calc(100vh - 100vw * 0.02);
    --grid-row-unit: calc((var(--viewport-height) - var(--grid-gap) * 7) / 8);
    --color-dark: #000000;
    --color-light: #ffffff;
    font-family: 'Libre Baskerville', serif;
    --font-bold: 700;
    color: var(--color-dark);
}

body {
    margin: 1% 2%;
}

a {
    color: var(--color-dark);
}