---
---
main {
    width: calc(var(--width) - var(--grid-gap) * 2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@import "infopoetry-content";
@import "infopoetry-visual";
@import "infopoetry-modal";
@import "media-infopoetry";
