<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/master.css' | relative_url }}">
    {% if page.layout == 'default' %}
    <link rel="stylesheet" href="{{ '/assets/css/page.css' | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.4.0.slim.min.js" integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI=" crossorigin="anonymous" defer></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js" defer></script>
    <script defer>
        let currentState = history.state;
        if (currentState === null) {
            let stateObj = {
                "filters": {
                    "topic": {
                        {% for topic in site.topics %}
                        "{{ topic.title | slugify: 'latin' }}": {
                            "name": "{{ topic.title }}",
                            "checked": false
                        },
                        {% endfor %}
                    },
                    "medium": {
                        {% for medium in site.mediums %}
                        "{{ medium.title | slugify: 'latin' }}": {
                            "name": "{{ medium.title }}",
                            "checked": false
                        },
                        {% endfor %}
                    },
                    "year": {
                        {% assign years = site.infopoetries | group_by:"year" | sort: "name" %}
                        {% for year in years %}
                        "{{ year.name | slugify: 'latin' | prepend: 'aa' }}": {
                            "name": "{{ year.name }}",
                            "checked": false
                        },
                        {% endfor %}
                    },
                    "institute": {
                        {% for institute in site.institutes %}
                        "{{ institute.title | slugify: 'latin' }}": {
                            "name": "{{ institute.title }}",
                            "checked": false
                        },
                        {% endfor %}
                    }
                }
            };
            history.pushState(stateObj, null);
        }
    </script>
    <script src="{{ '/assets/js/page.js' | relative_url }}" defer></script>
    {% else %}
    <link rel="stylesheet" href="{{ '/assets/css/infopoetry.css' | relative_url }}">
    {% endif %}
</head>

<body>
    {{ content }}
    {% include footer.html %}
</body>

</html>