---
layout: default
---
<nav class="nav__infopoetry">
    <!-- <div class="nav__left"> -->
    <a href="{{ '/' | relative_url }}" class="nav__left">
        <p class="nav__arrow">&#8592;</p>
        <p class="nav__title"> Home </p>
    </a>
    <!-- </div> -->
</nav>
<main>
    <div class="content">
        <div class="content__header">
            <h1>{{ page.title }}</h1>
            {% if page.author.link %}
            <h2>By <a href="{{ page.author.link }}" target="_blank">{{ page.author.name }}</a></h2>
            {% else %}
            <h2>By {{ page.author.name }}</h2>
            {% endif %}
        </div>
        <div class="content__metadata">
            <p><strong>Topic:</strong> {{ page.topic }}</p>
            <p><strong>Medium:</strong> {{ page.medium }}{% if page.medium != 'Website' and page.interactive %},
                interactive{% endif %}</p>
            {% if page.material %}<p><strong>Material:</strong> {{ page.material }}</p>{% endif %}
            <p><strong>Institute:</strong> {{ page.institute }}</p>
            <p><strong>Year:</strong> a.a. {{ page.year }}</p>
        </div>
        <div class="content__description">
            {{ content }}
            {% if page.website %}
            {% assign checkLink = page.website | slice: 0, 4 %}
            <a href="{% if checkLink == 'http' %}{{ page.website }}{% else %}{{ page.website | prepend: 'assets/websites/' | relative_url }}{% endif %}"
                target="_blank"><strong>Link to website</strong></a>
            {% endif %}
        </div>
    </div>
    <div class="media">
        <img src="{{ page.featured }}" alt="Featured image of the project {{ page.title }}">
        {% if page.video %}
        <video controls>
            <source src="{{ page.video }}" type="video/mp4">
            <p>Your browser doesn't support HTML5 video. Here is a <a href="{{ page.video }}">link to the video</a>
                instead.</p>
        </video>
        {% endif %}
        {% for image in page.images %}
        <img src="{{ image }}" alt="Complementary image of the project {{ page.title }}">
        {% endfor %}
        <div class="media__info">
            {% if page.metaphor %}
            <p class="info__title"><strong>Metaphor used:</strong></p>
            <p><i>{{ page.metaphor }}</i></p>
            {% endif %}
            {% if page.meaning %}
            <p class="info__title"><strong>Intended Meaning:</strong></p>
            <p><i>{{ page.meaning }}</i></p>
            {% endif %}
            {% if page.source %}
            <p class="info__title"><strong>Source:</strong></p>
            {% if page.source.link %}
            <a href="{{ page.source.link }}" target="_blank"><i>{{ page.source.name }}</i></a>
            {% else %}
            <p><i>{{ page.source.name }}</i></p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</main>