---
layout: default
---
<nav>
    <!-- <div class="nav__left"> -->
    <a href="{% case page.title %}
    {% when 'Home' %}
    /about
    {% when 'About' %}
    /press
    {% else %}
    /
    {% endcase %}" class="nav__left">
        <p class="nav__arrow">&#8592;</p>
        <p class="nav__title">
            {% case page.title %}
            {% when 'Home' %}
            About
            {% when 'About' %}
            Press Release
            {% else %}
            Home
            {% endcase %}
        </p>
    </a>
    <!-- </div> -->
    <!-- <div class="nav__right"> -->
    <a href="{% case page.title %}
    {% when 'Home' %}
    /press
    {% when 'About' %}
    /
    {% else %}
    /about
    {% endcase %}" class="nav__right">
        <p class="nav__arrow">&#8594;</p>
        <p class="nav__title">
            {% case page.title %}
            {% when 'Home' %}
            Press Release
            {% when 'About' %}
            Home
            {% else %}
            About
            {% endcase %}
        </p>
    </a>
    <!-- </div> -->
</nav>
<aside style="left: -96vw;"></aside>
<aside style="left: 100vw;"></aside>
{{ content }}